.wrapper{
	width: 100%;
	box-sizing: border-box;
	/* font-size: 18px; */
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
html{
	scroll-behavior: smooth;
}
body{
	background: #EEEEEE !important;
}
.go_top{
	position: fixed;
	bottom: 60px;
	right: 30px;
	background-color: #FF9800;
	padding: 10px 15px;
	border-radius: 4px;
	color: #fff;
	display: none;

}
.go_top i{
	font-size: 2em;
}
.cart{
	position: absolute;
	width: 100px;
	font-size: 20px !important;
	right: 60px;
	color: #fff;
	background: green !important;
	/* padding: 0 10px; */
	border-radius: 50%;
}
@media (max-width:1200px){
	.cart {
		right:10px;
	}
}
.menu{
	width: 100%;
	background: #fff;
	height: 100%;
	border-radius: 5px;
	height: 8vh;
	box-shadow: 0 0 5px 5px #ccc;
	position: fixed;
	top: 0px;
	z-index: 999;
}
a.logo{
	float: left;
	width: 120px;
	line-height: 50px;
}
a.logo img{
	width: 100%;
	height: 50px;
}
.menu nav ul{
	
	/* overflow: auto; */
	margin: 0;
	padding: 0;
	
}
.menu nav ul li{
	margin: 15px 8px;
	display: block;
	float: left;
}
.menu nav ul li a{
	display: block;
	color: blue;
	font-size: 16px;
	font-weight: bold;
	font-family: "Segoe UI",Arial,sans-serif;
	text-transform: uppercase;
}
.menu nav ul li.admin{
	float: right;
}
/* .menu nav ul li.admin i{
	/* font-size: 30px; 
} */
@media (max-width: 1200px){
  .menu-toggle{
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px;
    float: right;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    color: #000;
  }
  .menu-toggle:before{
    content: '\f0c9';
    font-family: fontAwesome;
    line-height: 40px;
  }
  .menu-toggle.active:before{
    content: '\f00d';
  }
  .menu nav ul{
    display: none;
  }
  .menu nav.active{
    display: block;
    /* overflow: hidden; */
    float: left;
    width: 100%;
    padding: 5px;
    background: #fff;
	border: solid 1px #ccc;
  }
  .menu nav.active ul{
    display: block;
   	width: 100%;
  }
  .menu nav.active ul li{
  	display: block;
  	width: 100%;
 	margin: 1vh auto;
  }
  .menu nav.active ul li a{
	color: blue;
  }
}

.content{
	width: 90%;
	background-color: #fff;
	margin: 10vh auto;
	box-sizing: border-box;
	min-height: 500px;
	border-radius: 5px;

}
.content table th,td{
	text-align: center;
}
.content table{
	overflow: auto;
}
/* Mua hàng */
.container{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.container .product {
	/* background: #fff; */
	text-align: center;
	margin: 0.5%;
	padding: 1px;
	width: 19%;
	min-height: 100px;
	overflow: hidden;
	color: #000;
	transition: 0.5s;
	/* font-weight: bold; */
	box-shadow: 0px 0px 1px 1px #ccc;
	text-decoration: none;
	border-radius: 2px;
	position: relative;
}
.ngaykt{
	top:40px;
	position: absolute;
	z-index: 10;
}
.container .product:hover{
	box-shadow: 0px 0px 5px 5px #ccc;
}
.container .product:hover img{
	transform: translateY(-10px);
}
.container .product .giamgia{
	background: #05F51B;
	width: 120px;
	padding: 0 20px;
	position: absolute;
	transform: rotate(-20deg);
	left: -25px;
	top: 0;
	z-index: 10;
	
}
.container .product img{
	width: 100%;
	transition: 0.7s;
	height: 300px;

}
.container .price{
	color: red;
}
.container .name{
	color: green;
}
.container .detail_product {
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	background: #ffffff;
	color: #000;
	/* font-weight: bold; */
	font-size: 18px;
	box-shadow: 0px 0px 5px 2px #ccc;
}
.container .detail_product img{
	width: 40%;

	float: left;
}
.container .detail_product .infor{
	width: 50%;
	float: right;
}
.detail_product .infor *{
	margin: 2px;
}
.container .detail_product .describe{
	font-style: italic;
}

@media (max-width: 1000px){
	.container .product img{
		height: 200px;
	}
	.container .product{
		width: 32.1%;
	}
}
/* end */

#them_nhom{
	width: 30%;
	float: left;

}
#lietke_nhom{
	width: 60%;
	float: right;
}
#lietke_hang{
	width: 100%;
	box-sizing: border-box;
}
#them_hang{
	width: 60%;
	margin: 0 auto;
	border: solid 1px #ccc;

}
#them_hang input[type="text"]{
	min-width:50%;
}
textarea{
	width: 100%;
	min-height: 100px;
}
@media (max-width: 1000px) {
	#them_hang{
		width: 100%;
		overflow: hidden;
	}
	#them_nhom{
		width: 80%;
		float: none;
		margin: 0 auto;
	}
	#lietke_nhom{
		width: 100%;
	}
}
.footer{
	width: 100%;
	min-height: 200px;
	margin: 20px auto 0;
	background: #1655B3;
	overflow: hidden;
	color: #fff;
	text-align: center;
	font-size: 18px;
	position: relative;
	bottom: 0;
	padding: 5px;

}
.footer *{
	margin: 0 5px;
	color: #fff;
}
.footer .info{
	float: left;
	width: 40%;
}
.footer .lien-he{
	float: right;
	width: 50%;
}
/* .footer .quick-menu{
	float: left;
	width: 25%;
} */

@media (max-width: 1000px){
	.footer *{
		margin: 0;
	}
	.footer .info{
		width: 100%;
	}
	.footer .quick-menu{
		margin: 20px 0;
		width: 100%;
	}
	.footer .lien-he{
		width: 100%;
	}

}

.themvaogio .quantity{
	width: 60px;
}

.required {
	color: red;
	font-size: 1.2em;
}